{% extends './apps/base.html' %}

{% block content %}
<div class="row">
	<div class="span4 offset4">
	    <h1>Search</h1>
	    <div>
			<form class="well form-search" method="get" action=".">
				{{ form.q }}
				<button type="submit" class="btn"><i class="icon-search"></i> Search</button>
			</form>
	    </div>
	        {% if query %}
	            
	            {% for result in page.object_list %}
	            	<div class="well lead">
	            		<a href="/apps/{{ result.object.pk }}"> {{ result.object.Name }}</a>
	            	</div>
	            {% empty %}
	                <div class="alert alert-error">No results found.</div>
	            {% endfor %}
	
	            {% if page.has_previous or page.has_next %}
	                <div>
	                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
	                    |
	                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
	                </div>
	            {% endif %}
	        {% else %}
	            {# Show some example queries to run, maybe query syntax, something else? #}
	            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	            <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	            
	        {% endif %}
	    </form>
	</div>
</div>
{% endblock %}