{% extends "./apps/base.html" %}

{% block header %} {{ app.Name }}{% endblock %}
{% block script %}
	$(function () {
         $(".point").popover(
            {
                offset: 5,
                placement: 'left'
            }
        );
    });
{% endblock %}

{% block content %}
<div class="row">
	<div class="span2 offset2">
		{% for Content in sidebarcontent %}
			{{Content.Title}}
		{% endfor %}
	</div>
	<div class="span6 offset3">
		<div class="hero-unit">
		<h1>{{ app.Name }}</h1>
			
			{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
			<dl class="dl-horizontal">
				<dt>App Address</dt>
				<dd><a href="{{app.Address}}">{{app.Address}}</a></dd>
				<dt>Founder</dt>
				<dd>{{ app.founder}}</dd>
				<dt>Year Founded</dt>
				<dd>{{ app.founded }}</dd>
				<dt>Business Model</dt>
				<dd> {{ app.business_model}}</dd>
			</dl>
		</div>
			{% for points in app.points_set.all|dictsort:"importance"%}
				<blockquote class="point" title="{{points.point_type}}" data-content="{{points.exerpt}}">
					<p>{{ points.description }} <a href="{{points.source}}"><i class="icon-share"></i></a></p>
					<div class="progress progress-{{points.type}} progress-striped">
					  <div class="bar" style="width: {{ points.importance}}%;"></div>
					</div>
				</blockquote>
			{% endfor %}
	</div>
</div>
			
		
{% endblock %}