{% extends './apps/base.html' %}

{% block content %}
<div class="row">
	<div class="span4 offset4">
		<div class="lead">
			{# Place static message here #}
			Lets find out what that legal jargon means.
		</div>
	    <div>
			<form class="well form-search" method="get" action=".">
				{{ form.q }}
				<button type="submit" class="btn"><i class="icon-search"></i> Search</button>
			</form>
	    </div>
	        {% if query %}
	            
	            {% for result in page.object_list %}
	            	<div class="well lead">
	            		<a href="/apps/{{ result.object.slug }}"> {{ result.object.Name }}</a>
	            	</div>
	            {% empty %}
	                <div class="alert alert-error">No results found.</div>
	            {% endfor %}
	
	            {% if page.has_previous or page.has_next %}
	                <div>
	                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
	                    |
	                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
	                </div>
	            {% endif %}
	        {% else %}
	            {# Show some example queries to run, maybe query syntax, something else? #}
	            The internet can be a scary place. It helps to know what you’re getting yourself into. 
	        {% endif %}
	    </form>
	</div>
</div>
{% endblock %}